<div class="row">
  <div class="col-md-6">
    <div class="card">
      <h3>Your Conversations:</h3>
      <div class=”list”>
        <div class=”item”>
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              <li><%= link_to recipient.username,   conversation_messages_path(conversation)%></li>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h3>Start New Conversation:</h3>
      <div class=”list”>
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <div class=”item”>
              <%= user.username %> <%= link_to 'Message me!', conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post'%>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
