@import 'bootstrap';

// ___ General ___ //

header {
  width: 100%;
  position: fixed;
  z-index: 1;
}

.round-image-50 {
  background-color: #9aa9af;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  height: 50px;
  width: 50px;
  overflow: auto;
  img { width: 100% }
}

.myMess {
  color: #d4d1c8;
}

.theirMess {
  color: #ac7c60;
}

.userDet {
  height: 300px;
  width: 300px;
  border-radius: 23px;
  background-color: #9aa9af;
}

.userDet img {
  border-radius: 23px;
  max-width: 100%;
}

.userDetEdit {
  height: 150px;
  width: 150px;
  border-radius: 23px;
  background-color: #9aa9af;
}

.userDetEdit img {
  border-radius: 23px;
  max-width: 100%;
}

#crewMates a {
  font-family: 'Lobster Two', cursive;
  font-size: 30px;
  margin: -10px;
}

a {
  color: #ac7c60;
}

a:hover {
  color: #9aa9af;
}

li {
  list-style-type: none;
}

.formBack {
  background-color: #DDE4DF;
  border-style: none;
}

.card {
  border-style: inset;
  color: #fff;
  border-radius: 23px;
  padding: 23px;
  vertical-align: middle;
  margin: 40px;
  margin-top: 80px;
  background-color: rgba(76, 86, 96, 0.87);
}

.alertCard {
  max-width: 33%;
}

// ___Home Index___ //

.mainBack {
  background: url("/images/main.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

// ___Devise Register___ //

#regBack {
  background: url("/images/main.jpg") no-repeat 50% 50% fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
